body{
    background-color: #FFFFFF;
    font-family: 'MyFont', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider_hero{
    .slider_home{
        height: calc(100vh - 228px) !important;
    
        .sliderone{
            height: calc(100vh - 228px) !important;
            background: url('/images/slideone.webp') no-repeat center center;
            background-size: cover;
            width: 100%;
        }
        .slidertwo{
            width: 100%;
            height: calc(100vh - 228px) !important;
            background: url('/images/slidetwo.webp') no-repeat center center;
            background-size: cover;
        }
    }
    .header_slider{
        font-family: "GFS Didot", serif;
    }
    .swiper-slide{
        margin-right: 0px !important;
        height: calc(100vh - 228px) !important;
        width: 100% !important;
    }
    .swiper-pagination-bullet{
        background: url('/images/paginationinactive.svg') no-repeat center center !important;
        width: 16px !important;
        height: 16px !important;
        opacity: 0.9 !important;
    }
    .swiper-pagination-bullet-active{
        background: url('/images/paginationactive.svg') no-repeat center center !important;
        width: 32px !important;
        height: 32px !important;
        opacity: 1 !important;
    }
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.slider_featured{
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        height: 100% !important;
    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    
    .swiper-button-prev {
        background-image: url('/images/prev.svg'); 
    }
    
    .swiper-button-next {
        background-image: url('/images/next.svg');
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }    
}
.featured_brands{
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        height: 384px !important;
    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    
    .swiper-button-prev {
        background-image: url('/images/prev.svg'); 
    }
    
    .swiper-button-next {
        background-image: url('/images/next.svg');
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }    
}
.slider_arrivals{
    display: flex;
    align-items: center;
    .transition-all{
        transition-duration: 1500ms !important;
    }
    .swiper-wrapper{
        display: flex !important;
        align-items: center !important;
    }
    .swiper{
        display: flex !important;
        align-items: center !important;
    }
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        width: 315px;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    
    .swiper-button-prev {
        background-image: url('/images/prev.svg'); 
    }
    
    .swiper-button-next {
        background-image: url('/images/next.svg');
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }
    .swiper-pagination-bullet{
        background: url('/images/paginationinactive.svg') no-repeat center center !important;
        width: 16px !important;
        height: 16px !important;
        opacity: 0.9 !important;
    }
    .swiper-pagination-bullet-active{
        background: url('/images/paginationactive.svg') no-repeat center center !important;
        width: 32px !important;
        height: 32px !important;
        opacity: 1 !important;
    }    
}
.price{
    font-family: "Oswald", serif;
}
.new_arrivals_img{
    height: calc(100% - 60px) !important;
}
.slide-in-slide{
    display: flex !important;
    gap: 12px;
}
.h_content{
    height: fit-content;
}